/* :root {
    --primary-color: #ffffff;
    --secondary-color: #1e1e1e;
    --shadow-color--1: rgba(0, 0, 0, 0.1);
    --shadow-color--2: rgba(0, 0, 0, 0.61);
    --button-color: #5d5d5d;
    --sucess-color: #4caf50;
    --error-color: #ff0000;
    --border-color: #a8a8a8;
    --hover-color: #dbdbdb86;
    --hover-color--2: #494949;
    --menu-color: #272727;
    --auth-color: #9900cc;
    --button-color:#3c6cdd;
  } */